<%= simple_form_for(@truck) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name, label: "What's your name?" %>
  <%= f.input :description, label: "Describe your food truck in a few words" %>
  <%= f.input :category, :collection => [
      'Chinese', 'Indian', 'Thai', 'Mexican', 'Lebanese', 'Italian', 'Kebabs',
      'Burgers', 'Hot dogs', 'Ice cream', 'Donuts', 'Pancakes', 'Brazilian', 'Tapas',
      'Caribbean', 'French', 'Greek', 'Turkish', 'Indonesian', 'Fries', 'Jamaican',
      'Ethiopian', 'Kosher', 'Levantine', 'Polish', 'Peruvian', 'Bratwurst', 'Malay',
      'Singaporean', 'Vietnamese', 'Korean BBQ', 'Corn Dogs', 'Fish & chips', 'Argentine'
    ], label: "What cuisine do you offer? Select below" %>
  <%= f.input :card, input_html: { class: "text-center" }, label: "Do you accept credit card?" %>
  <%= f.input :photo, as: :file, input_html: { class: "text-center" }, label: "We suggest you add at least one photo here, but it\'s not mandatory" %>
  <div class="text-center col-8 offset-2">
    <%= f.button :submit,  :class => "button-truck text-center w-100"  %>

  </div>

<% end %>
