<%= simple_form_for [@truck, @review], class: 'form-check form-check-inline' do |f| %>
  <h5>Rate us!</h5>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="radio">
    <%= f.collection_radio_buttons :rating, [[1, "Didn't like it"], [2, 'Not bad'], [3, 'OK'], [4, 'Good'], [5, 'Recommend it'] ], :first, :last, class: 'radio-input'  %>
  </div>
  <div class="text-center ">
    <%= f.button :submit, :class => "button-truck w-100" %>
  </div>
<% end %>
