<!-- edit.html.erb -->

<div class="row m-3 justify-content-center">
      <%= link_to 'View Orders', truck_truck_orders_path(@truck), class: 'button-home col-8' %>
    </div>


<div class = "container">
  <div class = "row justify-content-center">
    <div class="col-12 col-sm-6 pt-5">
    <h2>Update your truck info here</h2>
    <br>
    <%= render 'trucks/form', truck: @truck %>

      <div>
        <br>
        <br>
        <h3>Opening Hours</h3>
        <div class="container d flex">
          <%= render 'shared/schedule2' %>

        </div>

        <br>
      </div>

      <h3>Add a Schedule</h3>
      <%= render 'schedules/new', schedule: @schedule %>
    </div>

  </div>

  <div class = "row justify-content-center">
    <div class="col-12 col-sm-6 pt-5">
      <h3>You currently offer <%= pluralize @truck.dishes.size, "dish" %> on TruckIt</h3>
      <% @truck.dishes.each do |dish| %>
        <p>
          <div class="dish pt-2">
            <p><%= dish.name %></p>
              <em class="op"><%= dish.description %></em>
              <div class="d-flex justify-content-between">
                <p>£<%= dish.price %></p>
                <div>
                  <!-- Want to be able to edit a dish -->
                  <%= link_to edit_truck_dish_path(dish.truck, dish) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <!-- Want to be able to destroy a dish -->
                  <%= link_to truck_dish_path(dish.truck, dish), :method => 'delete' do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
          </div>
        </p>
      <% end %>
    </div>
  </div>

  <div class = "row justify-content-center">
    <div class="col-12 col-sm-6 pt-5">
      <h3>Add another dish here</h3>
      <%= render 'dishes/form', truck: @truck, dish: Dish.new %>
    </div>
  </div>

  <div class="row m-3 justify-content-center">
      <%= link_to 'Delete Truck', truck_path(@truck), method: :delete, class: '' %>
    </div>

</div>
