<!-- edit.html.erb -->
<div class = "container">
  <div class = "row justify-content-center">
    <div class="col-12 col-sm-6 pt-5">
    <h2>Update your truck info here</h2>
    <br>
    <%= render 'trucks/form', truck: @truck %>

    <div>
    <br>
    <br>
    <h3>
      <%= "Opening Hours" %>
    </h3>
    <br>
  <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |d| %>
      <% if @truck.schedules.where(day: d).size == 0 %>
        <p class="d-flex justify-content-between px-3"><span><%= d %></span><span>closed</span></p>
      <% else %>
        <%  day = @truck.schedules.where(day: d).last %>
        <p class="d-flex justify-content-between px-3"><span><%= d %></span><span><span class="open-time"><%= day.start_time.hour %></span> - <span class="close-time"><%= day.end_time.hour %></span>
      <% end %>
    <% end %>
    <br>
    <br>
    </div>

    <h3>Add a Schedule</h3>
    <%= render 'schedules/new', schedule: @schedule %>
    <p class="text-center"> <%= link_to 'Back', trucks_path %></p>
    </div>
  </div>
</div>
