<div
  id="map"
  style="width: 100%;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


<div class="truck-list">
  <h4 class="mx-3">Swipe up for deliciousness</h4>

<!-- filter buttons -->
  <div class="filter-box">

  <% Truck::CATEGORIES.sort.each do |category| %>
    <%= link_to send("#{category.gsub(' ', '_')}_trucks_path") do %>
      <div class="category-img" style="background-image: url('<%= cl_image_path("#{category.gsub(' ', '%20').capitalize}.jpg", :width => 100, :height => 100, :crop=>"fill") %>')">
        <p class="text-center m-0"><%= category %></p>
      </div>
      <!-- = cl_image_tag("burger.jpg", :width => 100, :height => 100, :crop=>"fill") %> -->
      <% end %>
    <% end %>
  </div>

<!--  -->
  <div class="open-now px-3 pb-3">
    <h5 class='list-title m-0'>serving right now</h5>
    <% @trucks.sort_by {|t| -t.avg_reviews}.each do |truck| %>
      <% if truck.open? %>
        <%= link_to truck_path(truck) do %>
          <%= render 'shared/card', truck: truck %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="closed-now px-3 pb-3">
    <h5 class='list-title m-0'>opening soon</h5>
    <% @trucks.sort_by {|t| -t.avg_reviews}.each do |truck| %>
      <% if truck.open? != true %>
        <%= link_to truck_path(truck) do %>
          <%= render 'shared/card', truck: truck %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer', footer_id: '' %>

