<% content_for :meta_title, "#{@truck.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @truck.description %>


<% if @truck.photo.attached? %>
  <div class="truck-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @truck.photo.key, crop: :fill %>')"></div>
<% else %>
  <div class="truck-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "truck_icon_gkzoru", crop: :fill %>')"></div>
  <% end %>
<div class="container truck-content">
    <%= render 'shared/truck-info-box' %>
    <%= render 'shared/schedule' %>
    <%= render 'shared/menu' %>
</div>
<div class="review-box">
  <%= render 'trucks/form-rating' %>
</div>
<div class= "row">
  <% if policy(@truck).edit? %>
      <%= link_to "Update", edit_truck_path(@truck), class: 'button-truck col-10 offset-1' %>
    <% end %>
</div>

<% today = Date.today.strftime("%A") %>
<% if @truck.schedules.where(day: today).size != 0 %>
  <div class="truck-map" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/url-https%3A%2F%2Fimg.icons8.com%2Fios-filled%2F50%2F000000%2Ftruck.png(<%= @schedule.longitude %>,<%= @schedule.latitude %>)/<%= @schedule.longitude %>,<%= @schedule.latitude %>,15/1000x1000?access_token=pk.eyJ1Ijoidml0bjk0IiwiYSI6ImNrMm9rdmx6czExNG8zbmxud2JrOGYzNWkifQ.jV5ElZLNIiqd8zU-hTZnGA')"></div>
<% end %>
<!-- basket on the bottom of this file -->

<%= render 'shared/basket' %>

