 <div class="card-row">
  <div class="card">
    <div class="row no-gutters">

      <% if truck.photo.attached? %>
        <div class="col-5 card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path truck.photo.key, crop: :fill %>')"></div>
      <% else %>
        <div class="col-5 card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "truck_icon_gkzoru", crop: :fill %>')"></div>
      <% end %>

      <div class="col-7">
        <div class="card-body text-right py-3 px-2">
          <!-- <div class="card-head d-flex justify-content-between"> -->
            <h5 class="card-title text-right"><%= truck.name %></h5>
          <!-- </div> -->
          <em class=""><%= truck.category %></em>

          <div class="card-head d-flex justify-content-between">
            <% if truck.card %>
              <i class="fab fa-cc-visa"></i>
            <% end %>
            <div class="rating w-100">
              <% 5.times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- edit button -->
    <% if policy(truck).edit? %>
      <%= link_to "Update", edit_truck_path(truck), class: 'btn-card-truck-edit' %>
    <% end %>
    <!-- open or not -->
    <% button_color = truck.open? ? "open" : "closed" %>
    <div class="<%= button_color %>"></div>
  </div>
</div>

<div class="start"><% truck.schedules %></div>
