 <div class="card-row">
  <div class="card">
    <div class="row no-gutters">

      <% if truck.photo.attached? %>
        <div class="col-5 card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path truck.photo.key, crop: :fill %>')"></div>
      <% else %>
        <div class="col-5 card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "truck_icon_gkzoru", crop: :fill %>')"></div>
      <% end %>

      <div class="col-7">
        <div class="card-body text-right py-2 px-2">
          <!-- <div class="card-head d-flex justify-content-between"> -->
          <h5 class="card-title text-right"><%= truck.name %></h5>
          <!-- </div> -->
          <em class=""><%= truck.category %></em>

          <!-- <div class="card-head"> -->
            <div class="opening-times w-100">
              <% today = Date.today.strftime("%A") %>
              <% if truck.schedules.where(day: today).size != 0 %>
                <span>opens: <%= truck.schedules.where(day: today).last.start_time.to_s[11..15] %></span>
                <span>- <%= truck.schedules.where(day: today).last.end_time.to_s[11..15] %></span>
              <% end %>
            </div>
            <div class="rating d-flex justify-content-between w-100">
              <% if truck.card %>
                <p><span class="fab fa-cc-visa"></span></p>
              <% end %>
              <p class='text-right w-100'><%= truck.avg_reviews %> <span class="far fa-star"></span> (<%= truck.reviews.size %>)</p>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <!-- edit button -->
    <% if policy(truck).edit? %>
      <%= link_to "Update", edit_truck_path(truck), class: 'btn-card-truck-edit' %>
    <% end %>
    <!-- open or not -->
<!--     button_color = truck.open? ? "open" : "closed" %>
    <div class="< button_color %>"></div> -->
  </div>
</div>

<div class="start"><% truck.schedules %></div>
