<div class="menu p-3">
  <h5 class="text-center">MENU</h5>
<!-- dish 1 -->
<% @truck.dishes.each do |dish| %>
  <p>
    <a class="" data-toggle="collapse" href="#collapseExample<%= dish.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">

      <div class="dish pt-2">
      <p><%= dish.name %></p>
        <em class="op"><%= dish.description %></em>
        <div class="d-flex justify-content-between">
          <p>£<%= dish.price %></p><span class="text-danger"></span>
          <div>
            <i class="fas fa-fish px-3"></i>
            <i class="fas fa-coffee"></i>
          </div>
        </div>
    </div>

    </a>

  </p>
  <div class="collapse" id="collapseExample<%= dish.id %>">
    <div class="card-body">
      <div class="d-flex justify-content-around w-100" aria-labelledby="dropdownMenuLink">
        <% if current_user.orders.last.nil? %>
          <%= link_to '-', '#'%>
        <% end %>
          <% if dish.selections.any? %>
            <%= link_to '-', selection_path(dish.selections.last), method: :delete, remote: true, id:"s_#{dish.id}" , class: "button-selection" %>
          <% else %>
              <span id="disbaled_link">-</span>
          <% end %>
        <span id="nr<%= dish.id %>"><%= dish.selections.size %></span>
        <% if current_user.orders.last.nil? %>
          <% Order.create!(user_id: current_user.id) %>
        <% end %>
          <%= link_to '+', order_selections_path(Order.find(current_user.orders.last.id), dish_id: dish.id), method: :post, remote: true , class: "button-selection" %>
      </div>
    </div>
  </div>
<% end %>
