<div class="menu p-3">
  <h5 class="text-center">MENU</h5>
<!-- dish 1 -->
<% @truck.dishes.each do |dish| %>
  <p>
    <a class="" data-toggle="collapse" href="#collapseExample<%= dish.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">

      <div class="dish pt-2">
      <p><%= dish.name %></p>
        <em class="op"><%= dish.description %></em>
        <div class="d-flex justify-content-between">
          <p>£<%= dish.price %></p><span class="text-danger"></span>
          <div>
            <% dish.diets.each do |diet| %>
              <% if diet.requirement == "Vegetarian" %>
                <!-- <i class="fab fa-vuejs"></i> -->
                 <img class="requirement-img" src="https://images-na.ssl-images-amazon.com/images/I/61ySEDKPmtL._SY355_.jpg" alt="">
              <% elsif diet.requirement == "Vegan" %>
                <img class="requirement-img" src="https://image.shutterstock.com/image-vector/vegan-bio-ecology-organic-logo-260nw-1229955502.jpg" alt="">
              <% elsif diet.requirement == "Spicy" %>
                <span class="mdi mdi-chili-medium"></span>
              <% elsif diet.requirement == "Halal" %>
              <img class="requirement-img" src="https://images-na.ssl-images-amazon.com/images/I/71MFUTnn5eL._SL1500_.jpg" alt="">
              <% elsif diet.requirement == "Kosher" %>
              <img class="requirement-img" src="https://qph.fs.quoracdn.net/main-qimg-9c8f1d1b32f603369167992be81949e8.webp" alt="">
              <% elsif diet.requirement == "Lacto free" %>
              <img class="requirement-img" src="https://cdn1.iconfinder.com/data/icons/alternate-foods/512/alternate_foods-26-512.png" alt="">
              <% elsif diet.requirement == "Gluten free" %>
              <img class="requirement-img" src="https://www.su.nottingham.ac.uk/asset/Product/10038350/coeliac.png?thumbnail_width=250&thumbnail_height=250" alt="">
              <% elsif diet.requirement == "Sugar free" %>
              <img class="requirement-img" src="https://image.shutterstock.com/image-vector/round-green-label-text-sugar-260nw-663807637.jpg" alt="">
              <% elsif diet.requirement == "Nut free" %>
              <img class="requirement-img" src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/3/0/5/9/789503-1-eng-GB/Vermont-confectioner-highlights-its-nut-free-brands-with-new-packaging_wrbm_large.jpg" alt="">
              <% else %>
                <i class="fas fa-coffee"></i>
              <% end %>
            <% end %>
           <!--  <i class="fas fa-fish px-3"></i>
            <i class="fas fa-coffee"></i> -->
          </div>
        </div>
    </div>

    </a>

  </p>
  <div class="collapse" id="collapseExample<%= dish.id %>">
    <div class="card-body">
      <div class="d-flex justify-content-around w-100" aria-labelledby="dropdownMenuLink">
        <% if dish.selections.where(order: current_user.orders).any? && dish.selections.where(order: current_user.orders&.last).size > 0 %>
          <%= link_to '-', selection_path(dish.selections.where(order: current_user.orders&.last).last), method: :delete, remote: true, id:"s_#{dish.id}" , class: "button-selection" %>
        <% else %>
            <span id="disabled_link_<%= dish.id %>">-</span>
        <% end %>
        <span id="nr<%= dish.id %>"><%= dish.selections.where(order: current_user.orders.where(state: "pending")).size %></span>
        <% if current_user.orders.last.nil? || current_user.orders.last.state == "paid" %>
          <% Order.create!(user_id: current_user.id, state: 'pending') %>
        <% end %>
        <%= link_to '+', order_selections_path(Order.find(current_user.orders.last.id), dish_id: dish.id), method: :post, remote: true , class: "button-selection" %>
      </div>
    </div>
  </div>
<% end %>
