<div class="menu p-3">
  <h5 class="text-center">MENU</h5>
<!-- dish 1 -->
<% @truck.dishes.each do |dish| %>
  <p>
    <a class="" data-toggle="collapse" href="#collapseExample<%= dish.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">

      <div class="dish pt-2">
      <p><%= dish.name %></p>
        <em class="op"><%= dish.description %></em>
        <div class="d-flex justify-content-between">
          <p><%= dish.price %></p><span class="text-danger"></span>
          <div>
            <i class="fas fa-fish px-3"></i>
            <i class="fas fa-coffee"></i>
          </div>
        </div>
    </div>

    </a>

  </p>
  <div class="collapse" id="collapseExample<%= dish.id %>">
    <div class="card-body">
      <div class="d-flex justify-content-around w-100" aria-labelledby="dropdownMenuLink">
        <a class="text-center" href="#">-</a>
        <a class="text-center" href="#">+</a>
      </div>
    </div>
  </div>
<% end %>
