 <div class="schedule-box my-3">
    <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |d| %>
      <% if @truck.schedules.where(day: d).size == 0 %>
        <p class="d-flex justify-content-between px-3"><span><%= d %></span><span>closed</span></p>
      <% else %>
        <%  day = @truck.schedules.where(day: d).last %>
        <div>
          <p class="d-flex justify-content-between px-3"><span>
            <%= d %></span><span><span class="open-time"><%= day.start_time.to_s[11..15] %></span> - <span class="close-time"><%= day.end_time.to_s[11..15] %></span>
                    <%= link_to truck_schedule_path(@truck, day), :method => 'delete' do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
          </span></p>
        </div>
      <% end %>
    <% end %>
  </div>
