<!-- app/views/orders/show.html.erb -->
<div class="container confirmation-body">
  <div class="row py-4 justify-content-center">
    <!-- <div class="col-md-3"><%#= image_tag @order.teddy.photo_url, width: '100%' %></div> -->
    <div class="col">
      <h1 class="reciept-header d-flex justify-content-around">Order #<%= @order.id %>   <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled selection">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
      </ul>
      <p>Your order will be ready to collect from <%= @order.selections.last.dish.truck.name %> in <strong class="badge badge-success">10-15 minutes</strong> 🎉</p>
      <br>
      <div class="d-flex justify-content-center my-3">
        <a href="/" class="button-home  w-100 px-3 m-0">Browse more good food</a>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<%= render 'shared/footer', footer_id: 'foot' %>
