<!-- _form.html.erb -->
<%= simple_form_for [@truck, @dish] do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name, label: "What is your dish called?" %>
  <%= f.input :description, label: "Describe the dish in a few words, short and sweet" %>
  <%= f.input :price, label: "What do you charge?" %>
  <input type="hidden" name="dish[diet_ids][]" value="">
  <div class="diet-requirements">
    <% Diet.all.each do |diet| %>
      <div class="diet-requirement">
        <input type="checkbox" class="hidden" value="<%= diet.id %>" name="dish[diet_ids][]" id="dish_diet_ids_<%= diet.id %>">
        <label for="dish_diet_ids_<%= diet.id %>">
          <%= diet.requirement %>
        </label>
      </div>
    <% end %>
  </div>

  <%= f.button :submit, :class => "btn-primary text-center"  %>

<% end %>
