<!-- _form.html.erb -->
<%= simple_form_for [@truck, @dish] do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name, label: "What is your dish called?" %>
  <%= f.input :description, label: "Describe the dish in a few words, short and sweet" %>
  <%= f.input :price, label: "What do you charge?" %>

  <div class="form-group">
    <input type="hidden" name="dish[diet_ids][]" value="">

    <div class="diet-choices">
      <% Diet.all.each do |diet| %>
          <input hidden type="checkbox" value="<%= diet.id %>" name="dish[diet_ids][]" id="dish_diet_ids_<%= diet.id %>">
          <label onclick="this.classList.toggle('checked')" class="diet-choice" for="dish_diet_ids_<%= diet.id %>">
            <p><%= diet.requirement %></p>
          </label>
      <% end %>
    </div>
  </div>

  <div class="diet-requirements">
  </div>

  <%= f.button :submit, :class => "button-truck text-center my-3"  %>

<% end %>


