number = parseInt(document.getElementById('nr<%= @dish.id %>').innerText);
document.getElementById('nr<%= @dish.id %>').innerText = number + 1;
link = document.getElementById('disbaled_link');
if (link) {
  link.outerHTML = '<a id="s_<%= @dish.id %>" data-remote="true" rel="nofollow" data-method="delete" href="/selections/<%= @dish.selections.last.id %>">-</a>';
}

newLink = document.getElementById('s_<%= @dish.id %>');
if (newLink) {
  newLink.outerHTML = '<a id="s_<%= @dish.id %>" data-remote="true" rel="nofollow" data-method="delete" href="/selections/<%= @dish.selections.last.id %>">-</a>';
}
